<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit profile</title>
    <link rel="stylesheet" href="account.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="reset-password-box">
      <h1>Edit profile</h1>
      <form>
        <label>Email</label>
        <input type="email" placeholder="" />
        <label>Username</label>
        <input type="text" placeholder="" />
        <label>Name</label>
        <input type="text" placeholder="" />
        <input type="button" value="Save changes" />
      </form>
    </div>
   
  </body>
</html>